<div>
  <div class="pull-right">
    <button class="btn btn-outline-primary btn-sm" (click)="logout()">Déconnxion</button>
  </div>
  <hr/>
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="[{outlets: {contentOutlet: 'produits'}}]"
        *ngIf="hasRoleUser()"
        routerLinkActive="active">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="[{outlets: {contentOutlet: 'categories'}}]"
        *ngIf="hasRoleUser()"
        routerLinkActive="active">Catégories</a>

      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="[{outlets: {contentOutlet: 'dashboard'}}]" 
        *ngIf="hasRoleUser()"
        routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="[{outlets: {contentOutlet: 'utilisateurs'}}]"
           *ngIf="hasRoleAdmin()"
           routerLinkActive="active">Utilisateurs</a>
      </li>
    </ul>

  </nav>

</div>
