<h2>Liste des utilisateurs!</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead>
          <th>Id</th><th>Utilisateur</th><th>Actif</th>
          <th>
            <button type="button" class="btn btn-outline-primary" (click)="operation='ajouter' ; initUser();">Ajouter</button>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.id}}</td><td>{{u.username}}</td><td>{{u.enable}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="operation = 'modifier' ; selectedUser = u;">Modifier</button>
              <button type="button" class="btn btn-outline-danger" (click)="operation = 'supprimer' ; selectedUser = u;">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-5">
      <div class="card">

        <div class="card-header bg-info text-white">
          {{
            operation == 'ajouter' ? 'Ajouter utilisateur' :
            operation == 'modifier' ? 'Modifier utilisateur' :
            operation == 'supprimer' ? 'Supprimer utilisateur' : ''
          }}
        </div>

        <div class="card-body">
          <div *ngIf="operation == 'ajouter' || operation == 'modifier'">
            <form [formGroup]="userForm" class="" action="index.html" method="post">
              <div class="form-group">
                <label>Nom d'utilisateur</label>
                <input type="text" class="form-control" formControlName="username" [(ngModel)]="selectedUser.username">
              </div>
              <div class="alert alert-danger" *ngIf="userForm.controls['username'].invalid &&
                                              (userForm.controls['username'].touched || userForm.controls['username'].dirty)">
                Le nom d'utilisateur est obligatoire
              </div>
              <div class="form-group">
                <label>Activé:</label>
                <input type="text" class="form-control" formControlName="enable" [(ngModel)]="selectedUser.enable">
              </div>
              <button class="btn btn-success"
                      (click)="operation == 'ajouter' ? addUser() : updateUser()">
                      {{
                        operation == 'ajouter' ? 'Ajouter' :
                        operation == 'modifier' ? 'Modifier' : ''
                      }}
              </button>
            </form>
          </div>

          <div *ngIf="operation == 'supprimer'">
            <div class="card-title">
              <p>Etes vous sûre de vouloir supprimer l'utilisateur numéro: {{selectedUser.id}}</p>
            </div>
            <button type="button" class="btn btn-success" (click)="deleteUser()">Supprimer</button>
          </div>

        </div>

        <div class="card-footer">

        </div>
      </div>

    </div>
  </div>

</div>
